<div class="container">
<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active"><%- page.title %></li>
</ul>
<div class="main">
  <h1><%- page.title %></h1>
  <div class="row margin-bottom-40">
    <!-- BEGIN CONTENT -->
    <div class="col-md-12">
      <div class="content-page">
	<div class="row">
	  <div class="col-md-12">
	    <div id="map" class="gmaps margin-bottom-40" style="height:400px;"></div>
      </div>
      <div class="col-md-3">
        <h2 style="padding-top:0; margin-top:0;">Mailing Address</h2>
      </div>
      <div class="col-md-9">
        <address class="margin-bottom-40">
          Professor <%= theme.professor.name %><br>
          <%= theme.address_1 %><br>
          <%= theme.address_2 %><br>
          <%= theme.address_3 %><br>
        </address>
      </div>
      <div class="col-md-3">
        <h2 style="padding-top:0; margin-top:0;">Line</h2>
      </div>
      <div class="col-md-9">
        Phone: <a href="tel:<%= theme.professor.phone %>"><%= theme.professor.phone %></a>(Professor),
               <a href="tel:%= theme.group_admin.phone %>"><%= theme.group_admin.phone %></a>(Group Admin)<br>
        Email: <a href="mailto:<%= theme.professor.email %>"><%= theme.professor.email %></a>(Professor),
               <a href="mailto:<%= theme.group_admin.email %>"><%= theme.group_admin.email %></a>(Group Admin)<br>
      </div>
	</div>
      </div>
    </div>
    <!-- END CONTENT -->
  </div>
</div>
</div>
